/* global styles */
h2{
	font-family: 'Raleway', sans-serif;
color:#6f6f6f;}



/* Styling from Drayton */

.move-right .exit-off-canvas {
	box-shadow:none;
}

#loginSubmit {
	width:100%;
}

#menuIcon{
	margin:1em;
}

.left-off-canvas-toggle{
	padding:10px;
}
.left-off-canvas-menu * {
	list-style-type: none;
	color:#fff;
}

.login-default-box{
	margin-top: 2em;
}

.loginText{
	text-align:center;
}
.off-canvas-wrap {
	height:100%;
}
.registerBtn {
	width:100%;
}

.register-default-box{
	margin-top: 2.5em;
}

.feedback{
	font-size:20px;
	margin-top: 2em;
}

.verificationPage{
	margin-top: 2em;
}

.verificationPage{
	margin-top: 2em;
}

#backtoLogin {
	width:100%;
}

.register-box{
	margin-top: 2em;
}

#request-password-button {
	width:100%;
}

.avatarImg{
	margin-bottom:1em;
}
.avatarImg img{
	width:100%;
	height:100%;
}
.usernameDashboard {
	font-size:20px;
}
.editAvatar {
	font-size:15px;
}
.editProfileText{
	font-size:15px;
}
.editProfileDashboard{
	width:100%;
}
.editProfileDashboard table{
	width:100%;
}

.uploadavatar{
	margin-top:2em;
}
.uploadImg{
	width:100%;
}
.editusername{
	margin-top:2em;
}
.usernamebtn{
	width:100%;
}
.editemail{
	margin-top:2em;
}
.emailbtn{
	width:100%;
}
.off-canvas-wrap {
	overflow:scroll;
}
.inner-wrap{
	height:100%;
}
#secondStep{
	   display:none;
}
#firstBtn{
	text-align:center;
	width:100%;
}
#secondBtn{
	text-align:center;
	width:100%;
}
.thirdBtn{
	text-align:center;
	width:100%;
}
#timelineContent{
	margin-bottom:3em;
}

/*Ilya */


/* project/create form */
input.project_task{
	width:80%;

}
#btn_stage_add{
	clear:both;
	text-transform: uppercase;
	font-size: 0.8em;
	cursor: pointer;
	font-weight:700;
}
.new_task_btn{
	clear: both;
	text-transform: uppercase;
	font-size: 0.8em;
	cursor: pointer;
	font-weight:700;
}
.btn_delete{
	position: absolute;
	background: #D64541;
	color: #f9f9f9;
	padding: 0.4em;
	right:2em;
}
.btn_save{
	position: absolute;
	background: #59ABE3;
	color: #f9f9f9;
	padding: 0.4em;
	right:2em;
}
.project_stage{
	clear:both;
}
.hidden{
	display:none;
}
#project-message{
	margin-top:2em;
}
#project-message>a{
	color:#fff;
	border-bottom:1px dashed #eee;
}
/*slider styling */
.range-slider-active-segment{height: 2rem;
	background:#19B5FE;
}
.range-slider{height: 2rem;
	margin-top:0;
	border:0;
margin-bottom:0em;}
.range-slider-handle{
	top:0;
	height:2rem;
	background:#22A7F0;
}
.stages_wrapper h3{margin-bottom:0;font-family: 'Raleway', sans-serif;}
.completion_indicator{
	font-weight: 300;
	font-family: 'Roboto Slab', sans-serif;
	color:#6f6f6f;
	font-size:3em;
}
.completion{
	margin-top:-1.5em; padding:0;
}

.stages_wrapper>div>.row{
	margin-bottom:1em;
	border:1px solid #eee;
}
.stage-wrapper{border:1px solid #eee; margin-bottom:1em;}
.stage-wrapper>.content>h3{margin-left:0.5em;}
.project_desc{
	font-family: 'Raleway', sans-serif;
	color:#6f6f6f;
	font-weight: 500;
	font-style: italic;
}
.project_name{
	font-family: 'Raleway', sans-serif;
	color:#6f6f6f;
	font-weight: normal;
}