/* global styles */
h2{
	font-family: 'Raleway', sans-serif;
color:#3f3f3f;}
/*sticky*/
.contain-to-grid {
width: 100%;
background: #4183D7;
}
.top-bar{
	background:transparent;
}

a{
	color:#4183d7;

}

.button{
	background-color:#4183d7;
}
/*off-canvas menu */
.projek-caption{
	color: #666;
font-family: 'Raleway', sans-serif;
font-size: 2em;
width: 100%;
font-weight: 400;
text-shadow: none;
text-transform: uppercase;
padding-left: 1rem;
}
.left-off-canvas-menu{
	background:#fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.left-off-canvas-menu>ul>li>a{
color: #333;
font-size: 1em;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
padding: 1.7rem 0rem 1.7rem 1rem;
display: block;
}
.left-off-canvas-menu>ul>li{
	border-top:1px solid #eee;
	height: 5rem;
}
.left-off-canvas-menu>ul{
	margin:0;
}
.left-off-canvas-menu>ul>li>a:hover{
	background:#f9f9f9;
}

/* Styling from Drayton */

.move-right .exit-off-canvas {
	box-shadow:none;
}

label {
	color:#3f3f3f;
}

h3{
	color:#3f3f3f;
}

#loginSubmit {
	width:100%;
	background-color:#4183d7;
}

#menuIcon{
	margin:1em;
}

.left-off-canvas-toggle{
	padding:10px;
}
.left-off-canvas-menu * {
	list-style-type: none;
}

.login-default-box{
	margin-top: 2em;
}

.loginText{
	text-align:center;
}
.off-canvas-wrap {
	height:100%;
}
.registerBtn {
	width:100%;
}

.register-default-box{
	margin-top: 2.5em;
}

.feedback{
	font-size:16px;
	margin-top: 1em;
	color:#3f3f3f;
}

.verificationPage{
	margin-top: 2em;
}

.verificationPage{
	margin-top: 2em;
}

#backtoLogin {
	width:100%;
}
.timelineIndex {
	overflow:inherit;
}
.register-box{
	margin-top: 2em;
}

#request-password-button {
	width:100%;
}

.avatarImg{
	margin-bottom:1em;
}

#avatarDescription{
	color:#3f3f3f;
}

#fileChosen{
	color:#3f3f3f;
}

.avatarImg img{
	width:100%;
	height:100%;
}
.usernameDashboard {
	font-size:20px;
	color:#3f3f3f;
}
.dash{margin-top:1em;}
.proj_button{width:100%;}
.editAvatar {
	font-size:15px;
}
.editProfileText{
	font-size:15px;
}
.editProfileDashboard{
	width:100%;
	text-align:center;
	color:#3f3f3f;
}
.editProfileDashboard table{
	width:100%;
	height:3em;
}
.editProfileDashboard td{
	font-size:15px;
	color:#3f3f3f;
}
.uploadavatar{
	margin-top:2em;
}
.uploadImg{
	width:100%;
}
.editusername{
	margin-top:2em;
}
.usernamebtn{
	width:100%;
}
.editemail{
	margin-top:2em;
}

.emailbtn{
	width:100%;
}
.off-canvas-wrap {
	overflow:scroll;
}
.inner-wrap{
	height:100%;
}
#secondStep{
	   display:none;
}
#firstBtn{
	text-align:center;
	width:100%;
}
#secondBtn{
	text-align:center;
	width:100%;
}
.thirdBtn{
	text-align:center;
	width:100%;
}
#timelineContent{
	margin-bottom:1em;
}

/*Ilya */


/* project/create form */
input.project_task{
	width:80%;

}
input[type="text"][readonly]{
	background: #f9f9f9;
border: 1px solid #ccc;
box-shadow: none;
}
small.error{
	margin-bottom:0;
	background: #E74C3C;
}
#btn_stage_add{
	clear:both;
	text-transform: uppercase;
	font-size: 0.8em;
	cursor: pointer;
	font-weight:700;
	color:#3f3f3f;
}
.new_task_btn{
	clear: both;
	text-transform: uppercase;
	font-size: 0.8em;
	cursor: pointer;
	font-weight:700;
	color:#3f3f3f;
}
.btn_delete{
	position: absolute;
	background: #E74C3C;
	color: #f9f9f9;
	padding: 0.4em;
	right:2em;
}
.btn_save{
	position: absolute;
	background: #59ABE3;
	color: #f9f9f9;
	padding: 0.4em;
	right:2em;
}
.project_stage{
	clear:both;
}
.hidden{
	display:none;
}
#project-message{
	margin-top:2em;
}
#project-message>a{
	color:#fff;
	border-bottom:1px dashed #eee;
}
/*slider styling */
.range-slider-active-segment{height: 2rem;
	background:#19B5FE;
}
.range-slider{height: 2rem;
	margin-top:0;
	border:0;
margin-bottom:0em;}
.range-slider-handle{
	top:0;
	height:2rem;
	background:#22A7F0;
}
.range-slider.disabled .range-slider-handle {
background: #D2D7D3;
cursor: default;
opacity: 1;
}
.range-slider.disabled, {
background: #fafafa;
cursor: default;
opacity: 0.4;
}
.range-slider.disabled>.range-slider-active-segment{
	background:#ECECEC;
}


.stages_wrapper h3{margin-bottom:0;font-family: 'Raleway', sans-serif; color:#333;}
.stages_wrapper h3 small{color:#333;margin-left:0.4em;}
.completion_indicator{
	font-weight: 300;
	font-family: 'Roboto Slab', sans-serif;
	color:#3f3f3f;
	font-size:2em;
}
.completion_percentage{color:#3f3f3f; }
.completion{
	padding: 1em 0em 1em 0em;
margin-top: -1.5em;
}


.task{background:#e4f1fe;}
.stage-wrapper{border:1px solid #eee; margin-bottom:1em;}
.stage-wrapper>.content>h3{margin-left:0.5em;}
.project_desc{
	font-family: 'Raleway', sans-serif;
	color:#3f3f3f;
	font-weight: 500;
	font-style: italic;
}
.project_name{
	font-family: 'Raleway', sans-serif;
	color:#3f3f3f;
}
div.stage-header.row{background:transparent;}
.btn_save_task{
	position:absolute;
	right:0em;
	font-family: 'Raleway', sans-serif;
	color:#3f3f3f;
	font-weight: normal;

}
.stage-average{ font-family: 'Roboto Slab', sans-serif; font-weight:300; color:#333; margin-left:1em;}
.stage-progress{padding:0.25em 0em 0em 0em;}
.stage-progress>div.secondary{
margin-bottom: 0;
height: 0.25rem;
padding: 0;
border:0;
background:#f9f9f9;}
.stage-progress>.progress.secondary>.meter{background:#87D37C;}

.task-complete>.range-slider-handle{
	background: #BDC3C7;
}
.task-complete>.range-slider-active-segment{
	background: #BDC3C7;
}
.icon-task-complete{
position: absolute;
right: 1em;
font-size: 2em;
color: #87D37C;
}
.task-complete{background:#f9f9f9;};